<launch>

    <include file="$(find pfvtr)/launch/jackal.launch"/>
    
    <node pkg="metavtr" type="meta_controller.py" name="meta_controller" respawn="true" output="screen">
            <param name="config_file" type="string" value="sim_test.txt" />
            <param name="odom_topic" type="string" value="$(arg odom_topic)" />
            <param name="cmd_vel_pub" type="string" value="$(arg cmd_vel_pub)" />
    </node>

</launch>
