<launch>

    <include file="$(find pfvtr)/launch/sim.launch"/>

    <node pkg="metavtr" type="meta_controller.py" name="meta_controller" respawn="true" output="screen">
            <param name="config_file" type="string" value="sim_test.txt" />
            <param name="odom_topic" type="string" value="/robot1/odometry" />
            <param name="cmd_vel_pub" type="string" value="/bluetooth_teleop/cmd_vel" />
    </node>

</launch>
